.header {
  color: white;
  background-color: black;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.resume {
  color: white;
  background-color: black;
  text-align: center;
  font-family: 'Courier New', Courier, monospace; 
}