.header {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.resume {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

h1{
  font-family: 'Rubik Iso', cursive;
}